{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/admin_assets/css/tsp_dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/admin_assets/css/tsp_sidebar.css">
    <link rel="stylesheet" href="/static/admin_assets/css/tsp_header.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/static/assets/img/logos/s_logo.jpg" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.tailwindcss.js"></script>
    <script src="/static/assets/admin/user.js"></script>
    
  </head>
</head>

<body>
    <div class="body-wrapper">
        <!-- sidebar starts here -->
        {% include 'admin/sidebar.html' %}
        <!-- Sidebar Ends Here -->

        <!-- Main section Starts here  -->
        <main>


            <!-- Header sectiom starts here -->
            {% include 'admin/header.html' %}
            <!-- Header sectiom ends here -->

            <!-- Main body section starts here -->
            {% block content %}{% endblock %}
            <!-- Main Section ends here -->
        </main>
        <!-- Main section Ends here  -->
    </div>
    <footer>
        <div class="profile-modal">

            <i class="fa-solid fa-xmark float-end pointer close-profile-modal"></i>
            <div id="">
                <div>
                    <div class="grid  bg-transparent col-auto">
                        <div class="w-24 text-center">

                        </div>
                        <div>
                            <span class="name">Name Of Training Center</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



</body>


<script src="/static/admin_assets/js/dashboard.js"></script>
<!-- <script src="./assets/js/header.js"></script> -->


<script>
    // Create the chart
    Highcharts.chart('pie', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Organization Wise Students',
            align: 'left'
        },
        subtitle: {
            text: 'Total ',
            align: 'left'
        },
        credits: {
            enabled: false
        },
        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: ''
            }
        },

        plotOptions: {
            series: {
                borderRadius: 5,
                dataLabels: [{
                    enabled: true,
                    distance: 15,
                    format: '{point.name}'
                }, {
                    enabled: true,
                    distance: '-30%',
                    filter: {
                        property: 'percentage',
                        operator: '>',
                        value: 5
                    },
                    format: '{point.y:.1f}',
                    style: {
                        fontSize: '0.9em',
                        textOutline: 'none'
                    }
                }]
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: ' +
                '<b>{point.y:.2f}</b> of total<br/>'
        },

        series: [
            {
                name: 'Organization',
                colorByPoint: true,
                data: [
                    {
                        name: 'TRTI',
                        y: 3000,
                        drilldown: 'TRTI'
                    },
                    {
                        name: 'SARTHI',
                        y: 3000,
                        drilldown: 'SARTHI'
                    },
                    {
                        name: 'BARTI',
                        y: 3000,
                        drilldown: 'BARTI'
                    },
                    {
                        name: 'MAHAJYOTI',
                        y: 3000,
                        drilldown: 'MAHAJYOTI'
                    },
                    {
                        name: 'OTHER',
                        y: 3000,
                        drilldown: 'OTHER'
                    },
                ]
            }
        ],
    });

    Highcharts.chart('line', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Organization Wise Students',
            align: 'left'
        },
        subtitle: {
            text: 'Total ',
            align: 'left'
        },
        credits: {
            enabled: false
        },
        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: ''
            }
        },

        plotOptions: {
            series: {
                borderRadius: 5,
                dataLabels: [{
                    enabled: true,
                    distance: 15,
                    format: '{point.name}'
                }, {
                    enabled: true,
                    distance: '-30%',
                    filter: {
                        property: 'percentage',
                        operator: '>',
                        value: 5
                    },
                    format: '{point.y:.1f}',
                    style: {
                        fontSize: '0.9em',
                        textOutline: 'none'
                    }
                }]
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: ' +
                '<b>{point.y:.2f}</b> of total<br/>'
        },

        series: [
            {
                name: 'Organization',
                colorByPoint: true,
                data: [
                    {
                        name: 'TRTI',
                        y: 3000,
                        drilldown: 'TRTI'
                    },
                    {
                        name: 'SARTHI',
                        y: 3000,
                        drilldown: 'SARTHI'
                    },
                    {
                        name: 'BARTI',
                        y: 3000,
                        drilldown: 'BARTI'
                    },
                    {
                        name: 'MAHAJYOTI',
                        y: 3000,
                        drilldown: 'MAHAJYOTI'
                    },
                    {
                        name: 'OTHER',
                        y: 3000,
                        drilldown: 'OTHER'
                    },
                ]
            }
        ],
    });

    Highcharts.chart('container', {
        chart: {
            type: 'pie',
            custom: {},
            events: {
                render() {
                    const chart = this,
                        series = chart.series[0];
                    let customLabel = chart.options.chart.custom.label;

                    if (!customLabel) {
                        customLabel = chart.options.chart.custom.label =
                            chart.renderer.label(
                                'Total<br/>' +
                                '<strong>2 877 820</strong>'
                            )
                                .css({
                                    color: '#000',
                                    textAnchor: 'middle'
                                })
                                .add();
                    }

                    const x = series.center[0] + chart.plotLeft,
                        y = series.center[1] + chart.plotTop -
                            (customLabel.attr('height') / 2);

                    customLabel.attr({
                        x,
                        y
                    });
                    // Set font size based on chart diameter
                    customLabel.css({
                        fontSize: `${series.center[2] / 12}px`
                    });
                }
            }
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        title: {
            text: 'Document Specification'
        },
        subtitle: {
            text: 'PDF | Image | Video | PPT | DOC'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b>'
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                allowPointSelect: true,
                cursor: 'pointer',
                borderRadius: 8,
                dataLabels: [{
                    enabled: true,
                    distance: 20,
                    format: '{point.name}'
                }, {
                    enabled: true,
                    distance: -15,
                    format: '{point.percentage:.0f}%',
                    style: {
                        fontSize: '0.9em'
                    }
                }],
                showInLegend: true
            }
        },
        series: [{
            name: 'Gender Ratio',
            colorByPoint: true,
            innerSize: '75%',
            data: [{
                name: 'PDFs',
                y: 50
            }, {
                name: 'Documents',
                y: 45
            }, {
                name: 'Images',
                y: 5
            }]
        }]
    });

</script>
<script>
    new DataTable(".datatable");
</script>


</html>