{% load static %}
<div class="head">
  <i class="fa-solid fa-bars inline-block lg:hidden mt-2 text-gray-250 toggle-menu lg:hidden open_menu w-auto"></i>
  <div class="header">
      <div class="title">
          <p>Dashboard</p>
      </div>
      <div class="wrapper">
          <div class="search">
              <input type="text" class="search-input" placeholder="Search...">
              <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="head-profile cursor-pointer">
              <i class="fa-solid fa-gear  shadow shadow-xl shadow-gray-300"></i>
          </div>
      </div>
  </div>
  <div class="header mt-15px">
      <div>
          <button href="#" class="button bg-zinc-100	text-sm"><i class="fa-solid fa-filter"></i> Filter
          </button>
      </div>
      <div class="wrapper">
          <div>
              <button href="#" class="button bg-zinc-100 text-sm"><span class="text-grey text-xs"> Group
                      By :
                  </span> Status</button>
          </div>
          
      </div>
  </div>
</div>