<aside class="-translate-x-[100%] transition-all duration-300 ease-in-out lg:-translate-x-0 absolute lg:static bg-dark w-1/2 bg-black rounded-e-xl lg:w-1/5 mt-2 pt-5 h-full lg:bg-transparent z-40">
    <div class="text-right pe-5 block lg:hidden">
        <i class="fa-solid fa-xmark text-white close_menu"></i>
    </div>
    <div class="logo ms-3">
        <img src="/static/assets/img/logos/s_logo.jpg" alt="Logo">
        <span class="name">Admin</span>
    </div>
    <div class="profile">
        <div class="photo">
            <!-- <img src="./assets/img/tsp.jpg" alt="Profile Photo" class=""> -->
        </div>
        <div class="names">
            <span class="text-grey">Akash Ramgir</span> <br>
            <span class="text-light">Admin</span>
        </div>
    </div>
    <nav>
        <ul class="sidebar-nav bg-success">
            <li class="active">
                <i class="fa-regular fa-square text-warning "></i>
                <p>Dashboard</p>
            </li>
            <li class="dropdown">
                <div>
                    <i class="fa-regular fa-user text-success"></i>
                    <p>Users</p>
                </div>
                <ul>
                    <a href="/admins/user_list"><li><i class="fa-solid fa-bars-staggered"></i>
                        <p>List</p>
                    </li></a>
                </ul>
            </li>
            <li class="dropdown">
                <div>
                    <i class="fa-solid fa-circle-notch text-danger"></i>
                    <p>Batch</p>
                </div>
                <ul>
                    <li><i class="fa-solid fa-bars-staggered"></i>
                        <p>List</p>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <div>
                    <i class="fa-solid fa-clipboard-user text-warning"></i>
                    <p>Attendance</p>
                </div>
                <ul>
                    <li><i class="fa-solid fa-bars-staggered"></i>
                        <p>List</p>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
</aside>