{% load static %}
  <!-- ======= Header ======= -->
  <header id="header" class="">
    <div class="container-fluid d-flex align-items-center justify-content-between ">

      <!-- Logo Section -->
      <div class="d-flex align-items-center justify-content-center">
        <img src="{% static 'assets/img/logos/Shabari-Logo.png' %}" class="logo" alt="Logo">
        <h4 class="cmp-name mb-0 font-18 ms-2 text-dark">File Management</h4>
      </div>
      <!-- Logo Section -->
      <div class="d-flex align-items-center justify-content-center">
        <h4 class="fw-600 font-18 theme-red text-uppercase" style=" text-shadow: 2px 2px 30px #f8a0a0;">Shabari Adiwasi
          Vitta Va Vikas Mahamandal Maryadit, Nashik</h4>
      </div>

      <!-- Navigation and Actions -->
      <div class="d-flex align-items-center">
        <nav id="navbar" class="navbar">
          <ul class="d-flex align-items-center">
            <li><a class="nav-link" href="/"><i class="fa-solid fa-house faicon p-0 m-0"></i></a></li>
            <li><a class="nav-link" href="/"><i class="fa-solid fa-gear faicon p-0 m-0"></i></a></li>
            <li class="dropdown">
              <a href="#" class="nav-link" id="profileDropdown">
                <img src="/static/assets/img/team/team-2.jpg" alt="Profile Picture" class="profile-img faicon">
              </a>
              <!-- <ul id="profileMenu" class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
              </ul> -->
            </li>


          </ul>
        </nav>
      </div>

    </div>
  </header>