<div id="sidebar">
    <div class="sidebar-header py-3 new-btn-container">
        <div class="btn-group">
            <button type="button" class="new-btn show_new_menu dropdown-toggle" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-plus font-14"></i> <span class="ms-2 font-14">New</span>
            </button>
            <div class="dropdown-menu">
                <!-- New Folder Option -->
                <a class="dropdown-item new_folder_modal">
                    <i class="fa-solid fa-folder-plus mx-2"></i> New Folder
                </a>
                <div class="dropdown-divider"></div>
                <!-- File Upload Option -->
                <label class="dropdown-item">
                    <i class="fa-solid fa-file-circle-plus mx-2"></i> File upload
                    <form method="POST" enctype="multipart/form-data" action="/upload_file/" id="fileUpload">
                        {% csrf_token %}
                        <input type="file" name="file" id="fileUploadInput" class="d-none" onChange="handleFileUpload()">
                        <input type="hidden" name="parent_folder_id_file" id="parent_folder_id_file" value='{{ request.GET.parent_folder|default:"0" }}'>
                        <input type="hidden" name="user_id_file" id="user_id_file" value='{{ user_id }}'>
                    </form>
                </label>
                <div class="dropdown-divider"></div>

                <!---------------------------------------------- Additional Options  -------------------------------------------------------->
                <!-- Doc File Option -->
                <a class="dropdown-item" href="#" id="docFileButton">
                    <svg focusable="false" height="24" viewBox="0 0 24 24" width="24" class="theme-blue-img me-2">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1.99 6H7V7h10.01v2zm0 4H7v-2h10.01v2zm-3 4H7v-2h7.01v2z">
                        </path>
                    </svg>
                    Doc File
                </a>

                <!-- Form to upload doc files -->
                <form action="/upload_file/" method="POST" enctype="multipart/form-data" id="docUploadForm">
                    {% csrf_token %}
                    <label for="docFileInput" class="d-none">Select Doc File:</label>
                    <!-- Hidden file input for uploading doc files -->
                    <input type="file" id="docFileInput" name="file" accept=".doc, .docx" class="d-none" onchange="handleFileUploadByType('doc', 'docUploadForm')">
                    <input type="hidden" name="parent_folder_id_file" id="doc_parent_folder_id_file" value='{{ request.GET.parent_folder|default:"0" }}'>
                        <input type="hidden" name="user_id_file" id="fileDoc" value='{{ user_id }}'>
                    <input type="submit" class="d-none" id="submitBtn">
                </form>
                <!---------------------------------------------- Only Excel File Should Upload ----------------------------------------------------------------------------------->
                <a class="dropdown-item" href="#">
                    <svg focusable="false" height="24" viewBox="0 0 24 24" width="24" class="theme-green-img me-2">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M19 3H5c-1.1 0-1.99.9-1.99 2L3 8v11c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 8h-8v8H9v-8H5V9h4V5h2v4h8v2z">
                        </path>
                    </svg>
                    Excel File
                </a>
                <!---------------------------------------------- Only Video File Should upload --------------------------------------------------------------------->
                <a class="dropdown-item" href="#">
                    <svg focusable="false" viewBox="0 -960 960 960" height="24" width="24"
                        class="theme-purple-img me-2">
                        <path
                            d="M300-240L700-480L300-720v480Zm80-141V-579l164,99L380-381ZM200-120q-33,0-56.5-23.5T120-200V-760q0-33 23.5-56.5T200-840H760q33,0 56.5,23.5T840-760v560q0,33-23.5,56.5T760-120H200Z">
                        </path>
                    </svg>
                    Video
                </a>
            </div>
        </div>
    </div>
    <!---------------------------------------------- Another Section of the Sidebar Menue ----------------------------------------------------------------------------------->
    <ul class="sidebar-menu">
        <li class="side-link active">
            <div class="side-icon">
                <i class="fa-solid fa-house-chimney"></i>
            </div>
            <div class="side-text font-14">Home</div>
        </li>
        <li class="side-link">
            <div class="side-icon">
                <i class="fa-brands fa-google-drive"></i>
            </div>
            <div class="side-text font-14">My Drive</div>
        </li>
        {% if user.role == 'Admin' %}
        <li class="side-link">
            <div class="side-icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="side-text font-14">
                <a href="/users">Add Users</a>
            </div>
        </li>
        {% endif %}
        <li class="side-link">
            <div class="side-icon">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            <div class="side-text font-14">
                <a href="/login">Logout</a>
            </div>
        </li>
    </ul>
</div>

<script>
    // Attach event listener to Doc File button
    document.getElementById("docFileButton").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default behavior of the link
        var fileInput = document.getElementById("docFileInput");
        fileInput.click(); // Trigger the file input click to open the file dialog
    });

    // Handle file selection and validation
    function handleFileUploadByType( type, id) {
        alert(id);
        $('#'+id).submit();
    }
</script>